<!DOCTYPE html>
<html lang="fr">
<head>
	<title><%= decision_infos.titre %></title>
</head>
<body>
	<div>
    <h1>
      <%= decision_infos.titre %>
    </h1>
	</div>
  <div>
    <%- decision_infos.contenu_html %>
  </div>
</body>
</html>
