<!DOCTYPE html>
<html lang="fr">

<head>
    <title><%= decision_infos.title %></title>
</head>
<script src="/scripts/angular.js"></script>
<script src="/angularApp.js"></script>
<script src="/jurisdictionCtrl.js"></script>
<body ng-app="angApp">
<div>
    <div>
        <div ng-controller="Center as ctr">

            <div>
                <h1><%= decision_infos.title %></h1>
            </div>
        </div>
    </div>
</div>
</body>
</html>